<%- include("../partials/htmlHead") %>
<%- include("../partials/nav") %>

<h1>Edit <%= monster.name %></h1>

<form action="/bestiary/<%= monster._id %>?_method=PUT" method="POST" enctype="multipart/form-data">

<label for="file">Upload a Photo</label>
<div class="image-preview" file="<%= monster.file %>">
  <input type="file" name="file" id="file"" accept="image/png, image/jpeg, image/jpg, img/svg">
</div>

<script>
  const input = document.getElementById("file");
  const imagePreview = document.querySelector(".image-preview");
  if (imagePreview.hasAttribute("file")) {
    const file = imagePreview.getAttribute("file");
    imagePreview.style.backgroundImage = `url(/images/${file})`;
  }

  const updateImageDisplay = () => {
    const imageUrl = URL.createObjectURL(input.files[0])
    imagePreview.style.backgroundImage = `url(${imageUrl})`;
  }

  // Change event found in (https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/input/file)
  input.addEventListener("change", updateImageDisplay)
</script>

<label for="name">Monster's Name</label>
<input type="text" name="name" id="name" value="<%= monster.name %>" required>

<label for="classification">Monster Classification</label>
<select name="classification" id="classification" optional>
  <% const classifications = ["folkloric", "supernatural", "humanoid", "construct", "undead", "dragon", "bestial", "elemental"] %>
  <% classifications.forEach(classification => { %>
    <% if (classification === monster.classification) { %>
      <option value="<%= classification %>" selected>
        <%= classification %>
      </option>
    <% } else { %>
      <option value="<%= classification %>">
        <%= classification %>
      </option>
    <% } %>
  <% }) %>
</select>

<label for="region">Region</label>
<input type="text" name="region" id="region" value="<%= monster.region %>" optional>

<label for="lore">Background Information</label>
<textarea name="lore" id="lore"><%= monster.lore %></textarea>

<button type="submit">Edit Monster</button>

</form>