<%- include("../partials/htmlHead") %>
<%- include("../partials/nav") %>

<%- include("../partials/background") %>

<main>

<section class="horizontal-scroll">
  <ul class="bestiary-list">
    <% monsters.forEach(monster=> { %>
      <a href="/bestiary/<%= monster._id %>" class="monster-card">
        <% if (monster.file) { %>
          <img src="/images/<%= monster.file %>" alt="">
        <% } else { %>
          <img src="/images/placeholder.svg" class="placeholder" alt="">
        <% } %>
        <li><%= monster.name %></li>
      </a>
      <% }) %>
  </ul>
</section>

<script>
  const monsters = document.querySelectorAll(".monster-card");
  const monsterCount = monsters.length;
  const scrollSize = monsterCount * 48;

  const scrollContainer = document.querySelector(".horizontal-scroll");
  const bestiaryList = document.querySelector(".bestiary-list");

  scrollContainer.style.height = `${scrollSize}rem`;
  bestiaryList.style.width = `${scrollSize}rem`;
  document.documentElement.style.setProperty('--bestiary-width', `-${scrollSize-20}rem`);

</script>

</main>
